.section {
  display: flex;
  align-items: center;
  justify-content: center;

  .block {
    max-width: 1700px;
    width: 100%;

    .card {
      .video {
        width: 100%;
        height: 400px;

        @media screen and (max-width: 768px) {
          height: 320px;
        }
      }
    }
  }
}
