.section {
  display: flex;
  align-items: center;
  justify-content: center;

  .block {
    max-width: 1000px;
    width: 100%;

    .card {
      .img {
        height: 300px;
        width: 100%;
        object-fit: cover;
        border-bottom: 1px solid var(--border-color);

        @media screen and (max-width: 768px) {
          height: 200px;
        }
      }

      .btn {
        width: 100%;
      }
    }
  }
}
